
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOzel.cshtml";
}

<br />
<br />
<br />
<br>
<form method="post">


<section class="formyeri">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email"
               class="form-control"
               id="exampleFormControlInput1"
               placeholder="name@example.com" name="email"/>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mesaj</label>
        <textarea class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3" name="messaje"></textarea>
    </div>
    <button class="btn btn-success" type="submit">Gönder</button>
</section>
<br />
    @ViewBag.email
    <br>
    @ViewBag.messaje
    <br>
    @ViewBag.sonuc
</form>

