
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOzel.cshtml";
}
<br />
<br />
<section class="p-5 text-center hakkimizda">
    <div class="container">
        <h2 class="mb-4 font-weight-bold">Öğrendiklerim</h2>
        <hr class="music" />
        <i class="fa-light fa-headphones"></i>

        <p>
           Programlamanın temelleri ile başladığımız eğitim serüveni Asp Dotnet Core 6 ile devam etmektedir. 
        </p>
        <h3>Mvc de Öğrendiklerim ise</h3>
        <p>
            Conrollerden View e Veri Göndermeyi öğrendim, Bunu view kısmına tablo ekleyerek ve işlemlerini controllerden yaparak yaptık. Ve çeşitlerini de öğrendik. ViewBag i öğrendik. Veri taşıma özelliklerimizden. Ayrıca keyValuePairs ne işe yaradığını öğrendik. Mvc Partial Kullanımı ve ne olduğunu öğrendik. Partial sayfadaki kodları farklı dosylarda ayırarak daha kullanışlı kod yönetimini sağlar. Section kavramını öğrendik ne işe yaradığını öğrendik. Mvc de section kullanarak view sayfalarından Layout a veri gönderimi yapmak için kullanılır. Post işlemini öğrendik. Get işlemini öğrendik. Mvc Model Binding –Model kullanımını öğrendik. Mvc de controller ve view arasında veri taşıma yöntemlerinden biri de classları kullanmaktır.
            Conrollerden View e Veri Gönderme çeşitleri olan ViewBag viewdata ve tempdata kavramlarını öğrendik. Bu üç çeşitle controllerden view e veri gönderiyoruz.

        </p>
        <p>
            Bundan önce ise Html Helper, RenderBody kavramını, Post Get işlemleri, Section kullanımı, Razor teknolojisini, String üzerinde belirli işlemler yapmayı gibi kavramları öğrendim. 
        </p>
    </div>
</section>
