
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOzel.cshtml";
}
<br />
<br />

<section class="p-5 text-center hakkimizda">
    <div class="container">
        <h2 class="mb-4 font-weight-bold">Hakkımızda</h2>
        <hr class="music" />
        <i class="fa-light fa-headphones"></i>

        <p>
           Silicon Academy de Programlama temelleri dersini aldıktan sonra Asp Net Core Mvc derslerini şu anda almaktayım.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            dolorum facere accusamus, placeat ipsam tempore ad maxime id dolor
            quidem sint numquam impedit alias non repellat quam labore, cumque
            laboriosam modi aperiam! Eos libero officiis non hic voluptas
            perferendis laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            quisquam debitis adipisci vel eligendi obcaecati illum odio repellat
            quia mollitia voluptates aliquam expedita praesentium dicta quidem
            possimus nemo minima harum, recusandae iusto provident vitae eveniet!
            Iure reiciendis, voluptatem impedit laboriosam, harum laborum
            voluptatibus dolorum quod sed optio officiis laudantium itaque culpa
            facere soluta veniam exercitationem nam, corrupti aperiam beatae
            quasi?
        </p>
    </div>
</section>

